<div class="footer">
  <h1>Join the conversation</h1>
  <ul class="footer-share">
    <li data-ripple="ripple"><a href="###"><i class="icon iconfont icon-wechat-fill"></i></a></li>
    <li data-ripple="ripple"><a href="###"><i class="icon iconfont icon-mail"></i></a></li>
    <li data-ripple="ripple"><a href="###"><i class="icon iconfont icon-Facebook"></i></a></li>
    <li data-ripple="ripple"><a href="###"><i class="icon iconfont icon-telegram"></i></a></li>
    <li data-ripple="ripple"><a href="###"><i class="icon iconfont icon-twitter"></i></a></li>
  </ul>
  <p class="copyright">Copyright &copy;2018 Canwdev Coding Project</p>
</div>

<!-- build by canwdev 2018.7 -->
<!-- imported JavaScript -->
<!-- <script src="__INDEX__/lib/jquery.min.js"></script> -->
<script src="__INDEX__/lib/bootstrap/js/bootstrap.min.js"></script>
<script src="__INDEX__/lib/layer/layer.js"></script>
<script src="__INDEX__/lib/particles.min.js"></script>
<script src="__INDEX__/js/global.js?v=1"></script>

<script src="__INDEX__/lib/wow.min.js"></script>
<script>
  new WOW().init();
</script>

<script src="__INDEX__/lib/owl/owl.carousel.min.js"></script>