<!-- imported stylesheet -->
<link rel="stylesheet" href="__INDEX__/lib/bootstrap/css/bootstrap.min.css">
<link rel="stylesheet" href="__INDEX__/lib/normalize.min.css">
<link rel="stylesheet" href="__INDEX__/lib/iconfont/iconfont.css">
<link rel="stylesheet" href="__INDEX__/lib/layer/theme/default/layer.css">
<script src="__INDEX__/lib/jquery.min.js"></script>

<!-- compiled css in dist -->
<link rel="stylesheet" href="__INDEX__/css/global.css">


<link rel="stylesheet" href="__INDEX__/lib/owl/assets/owl.carousel.min.css">
<link rel="stylesheet" href="__INDEX__/lib/owl/assets/owl.theme.default.css">