<!-- +++++++++++ header +++++++++++ -->
<div class="header clearfix">
    <div class="header-logo header-links-effect">
        <a href="/">
            <img src="__INDEX__/img/logo.png?v=5">
        </a>
    </div>
    <ul class="header-nav header-links-effect" id="mainLinks">
        <!-- <li class="js-menu-toggle">
            <a href="javascript:">Menu</a>
            <ul>
                <li>
                    <a href="index.html#services">Services</a>
                </li>
            </ul>
        </li> -->
        <li>
            <a href="index.html">首页</a>
        </li>
        <li>
            <a href="faq.html">文章列表</a>
        </li>
        <li>
            <a href="resources.html">资源下载</a>
        </li>
        <li>
            <a href="about.html">关于我们</a>
        </li>
        <li>
            <a href="contact.html">联系我们</a>
        </li>
    </ul>
    <div class="header-nav-toggle js-nav-toggle">
        <span></span>
        <span></span>
        <span></span>
    </div>
    <!-- <ul class="header-user header-links-effect">
        <li>
            <a href="javascript:void(0)">Login</a>
        </li>
    </ul> -->

</div>
<!-- +++++++++++ end-header +++++++++++ -->