<!DOCTYPE html>
<html>

{include file="components/head" /}

<body>
    {include file="components/nav" /}

    <div class="main-container container-fluid">
        <div class="page-container">

            {include file="components/sidebar" /}

            <!-- Page Content -->
            <div class="page-content">
                {include file="components/breadcrumbs" /}
                <!-- Page Body -->
                <div class="page-body">
                    <h1>后台管理系统</h1>
                </div>
            </div>
            <!-- /Page Body -->
        </div>
        <!-- /Page Content -->
    </div>

    {include file="components/foot" /}
</body>

</html>