<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Index</title>
  <link rel="icon" href="__INDEX__/img/favicon.png" />

  {include file="components/head" /}

  <link rel="stylesheet" href="__INDEX__/css/index.css?v=2">
</head>

<body>
  {include file="components/nav" /}
  <span id="idNav" data-nav="0"></span>

  <div class="jumbotron">

    <div class="container">
      <div class="jumbotron-sub1">
        <h1>ThinkPHP</h1>
        <p>"WE CAN DO IT JUST THINK"
        </p>
        <p>十年磨一剑-为API开发设计的高性能框架</p>
      </div>

      <div class="row jumbotron-sub2">
        <div class="col-md-6">
          <div class="jumbotron-sub2-item jumbotron-sub2-img">
            <img src="__INDEX__/img/index/home-graph-base3.png?v=4" alt="">
          </div>
        </div>
        <div class="col-md-6">
          <div class="jumbotron-sub2-item">
            <h1>快速，稳定，安全</h1>
            <p>ThinkPHP是一个免费开源的，快速、简单的面向对象的轻量级PHP开发框架，是为了敏捷WEB应用开发和简化企业应用开发而诞生的。ThinkPHP从诞生以来一直秉承简洁实用的设计原则，在保持出色的性能和至简的代码的同时，也注重易用性。遵循Apache2开源许可协议发布，意味着你可以免费使用ThinkPHP，甚至允许把你基于ThinkPHP开发的应用开源或商业产品发布/销售。
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="news">
    <div class="container">
      <div class="row">
        <div class="col-md-5">
          <div class="news-item news-item-text">
            <!-- <h1 class="big-title">The news</h1>
                        <p class="main-p">ThinkPHP’s journey to solve one of blockchain’s fundamental issues - increasing throughput while maintaining
                            high security and decentralization - has been covered by various media establishments.</p> -->
            <img src="__INDEX__/img/index/animate.gif" alt="">
          </div>
        </div>
        <div class="col-md-6">
          <div class="news-item news-item-carousel">
            <div class="news-owl-carousel owl-carousel owl-theme">
              <div class="noc-item">
                <img src="__INDEX__/img/index/in-the-news-card-logo2.png">
                <h3>“WE CAN DO IT JUST THINK”</h3>
                <p>ThinkPHP5.0版本是一个颠覆和重构版本，采用全新的架构思想，引入了更多的PHP新特性，优化了核心，减少了依赖，实现了真正的惰性加载，支持composer，并针对API开发做了大量的优化，包括路由、日志、异常、模型、数据库、模板引擎和验证等模块都已经重构，不适合原有3.2项目的升级，请慎重考虑商业项目升级，但绝对是新项目的首选（无论是WEB还是API开发）。</p>
                <a href="https://www.kancloud.cn/manual/thinkphp5/118003" target="_blank">阅读开发文档
                  <i class="icon iconfont icon-arrowright"></i>
                </a>
              </div>
              <div class="noc-item">
                <img src="__INDEX__/img/index/in-the-news-card-logo4.png">
                <h3>“十年磨一剑-为API开发设计的高性能框架”</h3>
                <p>ThinkPHP5.0版本是一个颠覆和重构版本，采用全新的架构思想，引入了更多的PHP新特性，优化了核心，减少了依赖，实现了真正的惰性加载，支持composer，并针对API开发做了大量的优化，包括路由、日志、异常、模型、数据库、模板引擎和验证等模块都已经重构，不适合原有3.2项目的升级，请慎重考虑商业项目升级，但绝对是新项目的首选（无论是WEB还是API开发）。</p>
                <a href="https://www.kancloud.cn/manual/thinkphp5/118003" target="_blank">阅读开发文档
                  <i class="icon iconfont icon-arrowright"></i>
                </a>
              </div>
              <!-- <div class="noc-item">
                                <img src="__INDEX__/img/index/in-the-news-card-logo1.png">
                                <h3>"This CEO has a plan to speed up transactions per second"</h3>
                                <a href="###">Read the article
                                    <i class="icon iconfont icon-arrowright"></i>
                                </a>
                            </div> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="main-content">
    <div class="main-content-text">
      <h3>采用全新的架构思想</h3>
      <h1 class="big-title">免费开源的，快速、简单的面向对象的轻量级PHP开发框架</h1>
      <!-- <p class="main-p">ThinkPHP is enabling new decentralized business models which
                <br>remove middlemen and inefficiencies. The trustless
                <br> connections formed on ThinkPHP’s blockchain are creating
                <br>new ways of interacting and trading with each other and
                <br>we’ve only just begun unfolding the possibilities.</p> -->
    </div>
    <div class="container">
      <div class="row main-content-cards">
        <div class="col-md-3">
          <div class="main-content-card-item">
            <div class="mcc-imgbg"></div>
            <div class="mcc-imglogo">
              <i class="icon iconfont icon-keji"></i>
            </div>
            <h3>规范</h3>
            <p>遵循PSR-2、PSR-4规范，Composer及单元测试支持；</p>
          </div>
        </div>
        <div class="col-md-3">
          <div class="main-content-card-item">

            <div class="mcc-imgbg"></div>
            <div class="mcc-imglogo">
              <i class="icon iconfont icon-binghang"></i>
            </div>
            <h3>严谨</h3>
            <p>异常严谨的错误检测和安全机制，详细的日志信息，为你的开发保驾护航；</p>
          </div>
        </div>
        <div class="col-md-3">
          <div class="main-content-card-item">

            <div class="mcc-imgbg"></div>
            <div class="mcc-imglogo">
              <i class="icon iconfont icon-suijimima"></i>
            </div>
            <h3>灵活</h3>
            <p>减少核心依赖，扩展更灵活、方便，支持命令行指令扩展；</p>
          </div>
        </div>
        <div class="col-md-3">
          <div class="main-content-card-item">

            <div class="mcc-imgbg"></div>
            <div class="mcc-imglogo">
              <i class="icon iconfont icon-xianxingtu"></i>
            </div>
            <h3>API友好</h3>
            <p>出色的性能和REST支持、远程调试，更好的支持API开发；</p>
          </div>
        </div>
        <div class="col-md-3">
          <div class="main-content-card-item">

            <div class="mcc-imgbg"></div>
            <div class="mcc-imglogo">
              <i class="icon iconfont icon-yibuliucheng"></i>
            </div>
            <h3>高效</h3>
            <p>惰性加载，及路由、配置和自动加载的缓存机制；</p>
          </div>
        </div>
        <div class="col-md-3">
          <div class="main-content-card-item">

            <div class="mcc-imgbg"></div>
            <div class="mcc-imglogo">
              <i class="icon iconfont icon-sj-"></i>
            </div>
            <h3>ORM</h3>
            <p>重构的数据库、模型及关联，MongoDb支持；</p>
          </div>
        </div>
        <div class="col-md-3">
          <div class="main-content-card-item">

            <div class="mcc-imgbg"></div>
            <div class="mcc-imglogo">
              <i class="icon iconfont icon-pingheng"></i>
            </div>
            <h3>版权申明</h3>
            <p>发布本资料须遵守开放出版许可协议 1.0 或者更新版本。
              未经版权所有者明确授权，禁止发行本文档及其被实质上修改的版本。
            </p>
          </div>
        </div>
        <div class="col-md-3">
          <div class="main-content-card-item">

            <div class="mcc-imgbg"></div>
            <div class="mcc-imglogo">
              <i class="icon iconfont icon-jiedian"></i>
            </div>
            <h3>捐赠我们</h3>
            <p>ThinkPHP一直在致力于简化企业和个人的WEB应用开发，您的帮助是对我们最大的支持和动力！</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  {include file="components/foot" /}
  <script src="__INDEX__/js/index.js"></script>
</body>

</html>