<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>文章列表</title>
  <link rel="icon" href="__INDEX__/img/favicon.png" />

  {include file="components/head" /}

  <link rel="stylesheet" href="__INDEX__/css/artlist.css">
</head>

<body>
  {include file="components/nav" /}
  <span id="idNav" data-nav="1"></span>

  <div class="artlist-wrap container">
    <div class="col-md-8">
      <div class="artlist-content">
        <div class="article-item one-img-plc" data-news-id="382208"><a href="{:url('/index/detail')}" role="option">
            <div class="plc-image"><img data-original="https://img.ithome.com/newsuploadfiles/thumbnail/2018/9/382208_240.jpg?r=1536549713230"
                src="https://img.ithome.com/newsuploadfiles/thumbnail/2018/9/382208_240.jpg?r=1536549713230" style="display: block;"></div>
            <div class="plc-con">
              <p class="plc-footer"><span class="post-time">11:21</span><span class="plc-footer-fr"><span class="review-num">0评</span></span></p>
              <p class="plc-title">密林深处发现马航MH370残骸？柬埔寨官方辟谣了</p>
            </div>
          </a></div>
        <div class="article-item one-img-plc" data-news-id="382205"><a href="{:url('/index/detail')}" role="option">
            <div class="plc-image"><img data-original="https://img.ithome.com/newsuploadfiles/thumbnail/2018/9/382205_240.jpg?r=1536549014307"
                src="https://img.ithome.com/newsuploadfiles/thumbnail/2018/9/382205_240.jpg?r=1536549014307" style="display: block;"></div>
            <div class="plc-con">
              <p class="plc-footer"><span class="post-time">11:10</span><span class="plc-footer-fr"><span class="review-num">8评</span></span></p>
              <p class="plc-title">什么操作？手机扬声器变身声呐，可窃取手机解密码</p>
            </div>
          </a></div>
        <div class="article-item one-img-plc" data-news-id="382203"><a href="{:url('/index/detail')}" role="option">
            <div class="plc-image"><img data-original="https://img.ithome.com/newsuploadfiles/thumbnail/2018/9/382203_240.jpg?r=1536548854680"
                src="https://img.ithome.com/newsuploadfiles/thumbnail/2018/9/382203_240.jpg?r=1536548854680" style="display: block;"></div>
            <div class="plc-con">
              <p class="plc-footer"><span class="post-time">11:07</span><span class="plc-footer-fr"><span class="review-num">55评</span></span></p>
              <p class="plc-title">小米8青春版来了！官方宣布“成都耍起”：海报里藏手机</p>
            </div>
          </a></div>
        <div class="article-item one-img-plc" data-news-id="382202" style="display: none !important;"><a href="{:url('/index/detail')}"
            role="option">
            <div class="plc-image"><img data-original="https://img.ithome.com/newsuploadfiles/thumbnail/2018/9/382202_240.jpg?r=1536548661933"
                src="https://img.ithome.com/newsuploadfiles/thumbnail/2018/9/382202_240.jpg?r=1536548661933" style="display: block;"></div>
            <div class="plc-con">
              <p class="plc-footer"><span class="post-time"></span><span class="tip tip-gray">广告</span><span class="plc-footer-fr"><span
                    class="review-num">2评</span></span></p>
              <p class="plc-title">荷兰进口/中粮旗下，嗨棒运动能量功能饮料250mL×12罐29.9元</p>
            </div>
          </a></div>
        <div class="article-item one-img-plc" data-news-id="382201"><a href="{:url('/index/detail')}" role="option">
            <div class="plc-image"><img data-original="https://img.ithome.com/newsuploadfiles/thumbnail/2018/9/382201_240.jpg?r=1536548944623"
                src="https://img.ithome.com/newsuploadfiles/thumbnail/2018/9/382201_240.jpg?r=1536548944623" style="display: block;"></div>
            <div class="plc-con">
              <p class="plc-footer"><span class="post-time">11:02</span><span class="plc-footer-fr"><span class="review-num">74评</span></span></p>
              <p class="plc-title">小米MIUI 10稳定版正式推送！首批支持12款机型</p>
            </div>
          </a></div>
        <div class="article-item one-img-plc" data-news-id="382200"><a href="{:url('/index/detail')}" role="option">
            <div class="plc-image"><img data-original="https://img.ithome.com/newsuploadfiles/thumbnail/2018/9/382200_240.jpg?r=1536548175583"
                src="https://img.ithome.com/newsuploadfiles/thumbnail/2018/9/382200_240.jpg?r=1536548175583" style="display: block;"></div>
            <div class="plc-con">
              <p class="plc-footer"><span class="post-time">10:56</span><span class="plc-footer-fr"><span class="review-num">38评</span></span></p>
              <p class="plc-title">《英雄联盟》RNG战队晋级LPL夏季赛总决赛，并喜提S8门票</p>
            </div>
          </a></div>
        <div class="article-item one-img-plc" data-news-id="382199"><a href="{:url('/index/detail')}" role="option">
            <div class="plc-image"><img data-original="https://img.ithome.com/newsuploadfiles/thumbnail/2018/9/382199_240.jpg?r=1536548105777"
                src="https://img.ithome.com/newsuploadfiles/thumbnail/2018/9/382199_240.jpg?r=1536548105777" style="display: block;"></div>
            <div class="plc-con">
              <p class="plc-footer"><span class="post-time">10:55</span><span class="plc-footer-fr"><span class="review-num">24评</span></span></p>
              <p class="plc-title">阿里巴巴的这次升级，马云准备了10年</p>
            </div>
          </a></div>

      </div>
    </div>
    <div class="col-md-4">
      <div class="hot-list">
        <iframe src="//www.ithome.com/block/topnews.htm" scrolling="no" marginwidth="0" marginheight="0" frameborder="0"
          class="hotnews" height="450px"></iframe>
      </div>
    </div>
  </div>

  {include file="components/foot" /}
  <script src="__INDEX__/js/index.js"></script>
</body>

</html>