.faq-wrap {
  padding-bottom: 90px;
}
.faq-title {
  text-align: center;
  font-weight: 300;
  padding: 42px 0px 40px;
}
.faq-title h1 {
  font-size: 45px;
  line-height: 60px;
  color: #393742;
  margin-bottom: 10px;
}
.faq-title p {
  font-size: 32px;
  color: #737086;
  line-height: 40px;
}
.faq-title .faq-subtitle {
  text-align: left;
  font-size: 16px;
  margin-top: 50px;
  border-width: 1px;
  border-style: solid;
  border-color: #c5c5c5;
  -o-border-image: initial;
     border-image: initial;
  padding: 18px 21px;
}
.faq-item {
  margin-bottom: 30px;
}
.faq-item .question {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #605c6d;
  font-weight: 600;
}
.faq-item .answer {
  font-size: 16px;
  line-height: 24px;
}
